<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		      <class name="org.testing.testscripts.TC_1post"/>
		       <class name="org.testing.testscripts.TC2_GetRequest"/>
		       <class name="org.testing.testscripts.TC_3GetParticularID"/>
		       <class name="org.testing.testscripts.TC_4Putrequest"/>
               <class name="org.testing.testscripts.TC_5Deleterequest"/>
      
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
